
 .leftcolumn {   
     float: left;
     width: 25%;
 }

 /* Right column */
 .rightcolumn {
     float: left;
     width: 75%;
     background-color: #f1f1f1;
     padding-left: 20px;
 }
 
 .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
 }
 
 
 
 /*korisceno za dugme koje sluzi za pretragu*/
 .button {
   display: inline-block;
   border-radius: 4px;
   background-color: #993ED0;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 12px;
   padding: 10px;
   width: 100px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
 }

 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }

 .button span:after {
   content: '\23ec';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }

 .button:hover span {
   padding-right: 25px;
 }

 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
 /*ovo koristimo kako bi sakrili dugmad KUPI */
 .kupacNijeUlogovan {
  visibility: hidden;
 }
 
 .kupacUlogovan{
 }
 
 
 
 
 
 /* korisceno za tabele koje sluze za top 10 proizvoda #3D8AB1*/
    .tableTOP10{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      border: 1;
      color: #FFFFFF;
      text-align: center;
      font-size: 20px;
      border-radius: 15px;
       
	  border: 1px solid #905FAB;
	  padding: 20px; 
	  border-spacing: 16px;
	  border-collapse: separate;  
    }
    /* korisceno za tabele za sve artikle*/
    .tableSVIArtikli{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      border: 1;
      color: #000000;
      text-align: center;
      font-size: 20px;
     
      padding: 20px; 
      border-spacing: 20px;
      border-collapse: separate;  
    }
    
    .tableTOP10naziv{
      font-size: 25px;
    }
    
    
    
    /* SLEDECA PODESAVANJA SU NAMENJENA ZA PRIKAZ DETALJA O ARTIKLU U VIDU POP UP PROZORA!*/
    
    /* Popup container - can be anything you want */
	.popup {
	    position: relative;
	    display: inline-block;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	
	/* The actual popup */
	.popup .popuptext {
	    visibility: hidden;
	    width: 160px;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 8px 0;
	    position: absolute;
	    z-index: 1;
	    bottom: 125%;
	    left: 50%;
	    margin-left: -80px;
	}
	
	/* Popup arrow */
	.popup .popuptext::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #555 transparent transparent transparent;
	}
	
	/* Toggle this class - hide and show the popup */
	.popup .show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	}
	
	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	    from {opacity: 0;} 
	    to {opacity: 1;}
	}
	
	@keyframes fadeIn {
	    from {opacity: 0;}
	    to {opacity:1 ;}
	}
	
	
	/*
	* Slede podesavanja ZA LOGIN i REGISTER POP UP PROZORE !
	*/
	
	.inputLoginPOPUP {
	    width: 60%;
	    padding: 12px 20px;
	    margin: 8px 26px;
	    display: inline-block;
	    border: 1px solid #3e8cbb;
	    box-sizing: border-box;
		font-size:16px;
	}



	/* The Modal (background) */
	.modal {
		display:none;
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0,0,0,0.4);
	}
	
	/* Modal Content Box  #fefefe #888*/
	.modal-content {
	    background-color: #fefefe;
	    margin: 4% auto 15% auto;
	    border: 1px solid #888;
	    width: 40%; 
		padding-bottom: 30px;
	}
	
	/* The Close Button (x) */
	.closePopUpLogin {
	    position: absolute;
	    right: 25px;
	    top: 0;
	    color: #000;
	    font-size: 35px;
	    font-weight: bold;
	}
	.closePopUpLogin:hover,.close:focus {
	    color: purple;
	    cursor: pointer;
	}
	
	/* Add Zoom Animation */
	.animate {
	    animation: zoom 0.6s
	}
	@keyframes zoom {
	    from {transform: scale(0)} 
	    to {transform: scale(1)}
	}
	
	
	
	
	
	
	
	
	
	/*
	ULOGOVAN KUPAC 
	ULOGOVAN KUPAC
	ULOGOVAN KUPAC
	ULOGOVAN KUPAC
	
	*/
	
	/*
		za prikaz itema koji ce sluziti da kaze koji je restoran omiljeni 
	*/
	.heart {
	  font-size: 25px;
		color:red;
	}
	
	.tableNalogKorisnika{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      border: 1;
      color: #000000;
      text-align: left;
      font-size: 20px;
     
      padding: 20px; 
      border-spacing: 20px;
      border-collapse: separate;  
    }
    
    .omiljeniRestoranSrce{
    }
    
    .kupiArtikal{
    }
    
    .obrisiArtikalPorudzbina{
    }
    
    
    
    /* ADMINISTRATOR CSS SADA IDE CSS SADA IDE*/
        /* ADMINISTRATOR CSS SADA IDE CSS SADA IDE*/
            /* ADMINISTRATOR CSS SADA IDE CSS SADA IDE*/
                /* ADMINISTRATOR CSS SADA IDE CSS SADA IDE*/
                    /* ADMINISTRATOR CSS SADA IDE CSS SADA IDE*/
   .administratorNijeUlogovan{
  	visibility: hidden;
   }
   .sakriOdAdministratora{
   }                 
                    
                    
   .menuAdministrator{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    }
	.menuAdministrator li{
    display:inline;
	}
	.menuAdministrator a{
    display:inline-block;
    padding:10px;
	}